<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>

<div class="container main">
    <div class="row">
        <div class="col-md-6">
        	<h2>Transfer</h2>
			<br/>
			
        	<form th:action="@{/transfer}" method="post" th:object="${transfer}">
                <div class="form-group" >
                    <label for="accountType">1. Please select the account you would like to use to transfer:</label>
                    <select class="form-control" th:value="*{accountType}" name="accountType" id="accountType" required="required">
                        <option value="primary">Primary</option>
                        <option value="savings">Savings</option>
                    </select>
                </div>
                 <br/>
                
                <div class="form-group">
                    <label>2. Enter the Id of the account you would like to transfer money to:</label>
                    <input th:value="*{Id}" type="number" name="Id" id="Id" class="form-control"/>
                </div>
                <br/>

                <div class="form-group">
                    <label>3. Please specify the amount you would like to transfer:</label>
                    <span class="input-group-addon">Amount $</span>
                    <input th:value="*{amount}" type="number" name="amount" step="0.01" id="amount" class="form-control" aria-label="Amount (to the nearest dollar)"/>
                </div>
                
                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>
                       
				<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Transfer</button>
            </form>

        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>
	
</body>
</html>